{{# each this}}

<div class="itemContainer">
  <img src="{{img}}" alt="Product photo" />
  <h2>{{name}}</h2>
  <p><br />Processor: {{processor}}</p>
  <p>RAM: {{ram}}<br /></p>
  <a href="#">Purchase {{price}}</a> 
</div>

{{/ each}}